<!DOCTYPE html>
<html>
<head>
    <title>Redefinição de Senha</title>
    <style>
        body { font-family: Arial, sans-serif; line-height: 1.6; }
        .container { padding: 20px; }
        .button { background-color: #007bff; color: white; padding: 10px 15px; text-decoration: none; border-radius: 5px; }
    </style>
</head>
<body>
    <div class="container">
        <p>Olá {{ name }},</p>
        <p>Recebemos uma solicitação para redefinir a senha da sua conta associada a este e-mail.</p>
        <p>Se você fez esta solicitação, clique no botão abaixo para definir uma nova senha. Este link é válido por 1 hora.</p>
        <p>
            <a href="{{ resetLink }}" class="button">Redefinir Senha</a>
        </p>
        <p>Se você não solicitou uma redefinição de senha, por favor, ignore este e-mail ou entre em contato conosco se tiver alguma preocupação.</p>
        <br>
        <p>Atenciosamente,</p>
        <p>A Equipe do "Não sei o nome do app" ;)</p>
    </div>
</body>
</html>